@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;

  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #7fc3e7;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.finish-preloader {
  opacity: 0;
  pointer-events: none;
}

.cloud1,
.cloud2,
.cloud3 {
  height: 100px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.cloud1 {
  top: 25%;
  transform: translate(100%, -25%);
  animation: clouds 3s ease infinite;
}
.cloud2 {
  top: 50%;
  transform: translate(100%, -50%);
  animation: clouds 3s ease 1.5s infinite;
}
.cloud3 {
  top: 75%;
  transform: translate(100%, -75%);
  animation: clouds 3s ease 5s infinite;
}

.airplane {
  height: 200px;
  animation: airplane 1s ease infinite alternate;
}

.preloader > h3 {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  top: 75%;
  transform: translateY(-75%);
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
}

@keyframes airplane {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

@keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}

body {
  perspective: 1000px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

.fa-code {
  margin: 0em 0.5em 0em 0em;
}

.fa-eye {
  margin: 0em 0.5em 0em 0em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.subcontainer {
  padding: 1.5em 4em;
  background-color: #333;
  color: #fff;
  position: relative;
}

.subcontainer-extra {
  padding: 1.5em 4em;
  background-color: #333;
  color: #fff;
  position: relative;
}

.brand-name {
  font-size: 2.3rem;
  font-family: "Shadows Into Light Two";
}

.brand-name-color {
  font-family: "Shadows Into Light Two";
  color: #536dfe;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0em;
  font-size: 1.2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items {
  list-style-type: none;
  margin-right: 2em;
}

.nav-items > a {
  text-decoration: none;
  color: #fff;
}

.nav-items > a:hover {
  color: #536dfe;
}

.sidebar {
  background-color: rgba(53, 57, 53);
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
}

.fa-times {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
}

.nav-list-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.nav-items-sidebar {
  margin: 1.7em 0em;
  display: none;
  list-style-type: none;
}

.nav-items-sidebar > a {
  text-decoration: none;
  color: #fff;
}

.nav-btn {
  display: none;
  border: none;
  background: none;
  margin-top: 0.7em;
  cursor: pointer;
}

.nav-btn > img {
  width: 80%;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 4em 0em 4em 0em;
}

.hero > div {
  flex: 1;
}

.hero-desc {
  padding: 1em 1em 1em 0em;
  margin-right: 1em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.hero-desc > h2 {
  margin: 0.5em 0em;
  font-size: 2.5rem;
}

.hero-desc > p {
  font-weight: light;
  letter-spacing: 1.3px;
}

.btn {
  margin: 2em 0em 0em 0em;
  border-radius: 0.2em;
  padding: 0.95em 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1rem;
}

.btn-color {
  background-color: #536dfe;
  border: none;
  color: #fff;
  transition: 0.3s;
}

.btn-color:hover {
  opacity: 0.8;
}

.btn-color-outline {
  border: 2px solid #536dfe;
  color: #536dfe;
  background: none;
  transition: 0.3s;
}

.btn-color-outline:hover {
  color: #fff;
  background-color: #536dfe;
}

.btn-color:hover {
  opacity: 0.8;
}

.btn-image {
  margin-right: 0.7rem;
}

.hero-image {
  margin-top: 3rem;
}

.hero-image > img {
  width: 100%;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 4em;
  width: 100%;
  background-color: rgb(73, 73, 73);
  color: #fff;
  /* position: absolute;
  bottom: 0;
  margin-top: 5rem; */
}

.socials-icons > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.socials-icons > ul > li > a > i {
  margin-right: 0.8em;
}

.fa-linkedin {
  font-size: 2rem;
}

.fa-github {
  font-size: 2rem;
}

.fa-github:hover {
  color: #536dfe;
}

.fa-linkedin:hover {
  color: #536dfe;
}

@media screen and (max-width: 1122px) {
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0em;
  }

  .hero > div {
    width: 100%;
  }

  .hero-desc {
    align-items: center;
    margin: 0em;
    padding: 1em;
    text-align: center;
  }

  .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-image > img {
    width: 60%;
  }
}

@media screen and (max-width: 793px) {
  .nav-list {
    display: none;
  }

  .nav-btn {
    display: block;
  }

  /* .navbar {
    flex-direction: column;
  }

  .brand-name {
    margin-bottom: 1em;
  }

  .navbar {
    padding: 0em;
  } */
}

@media screen and (max-width: 564px) {
  .subcontainer {
    padding: 1.5em 2em;
  }
  .nav-items {
    margin-right: 1em;
  }

  footer {
    flex-direction: column;
  }
  .copyright-msg {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 380px) {
  .hero-image {
    display: none;
  }
}

/* projects */
.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.project-header > p {
  margin: 1em 0em;
  letter-spacing: 1.2px;
  text-align: center;
  font-size: 1.3rem;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.project-container {
  background-color: #3d3d3d;
  padding: 2em;
  margin: 3em 0em;
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #536dfe;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.project-desc {
  width: 50%;
  margin-right: 2em;
}

.project-desc > p {
  margin: 0.5em 0em;
  letter-spacing: 1.2px;
}

.project-image-parent {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image {
  transform-style: preserve-3d;
  width: 85%;
}

.project-image > img {
  width: 100%;
}

.skills > h3 {
  margin-top: 1em;
}

.skill-wrapper {
  display: flex;
  width: 100%;
  margin: 1em 0em 1em -1em;
  flex-wrap: wrap;
}

.skill-capsule {
  padding: 8px 16px;
  border-radius: 99px;
  border: 1px solid #fff;
  margin: 0.5em 0.75em;
  background: linear-gradient(
    90deg,
    rgba(149, 195, 255, 0.6) 0%,
    rgba(87, 160, 255, 0.6) 100%
  );
}

.projects-btn {
  display: flex;
  align-items: center;
}

.projects-btn > .btn-color {
  padding: 1.05em;
  margin-right: 2em;
}

@media screen and (max-width: 1079px) {
  .project-container {
    flex-direction: column-reverse;
  }

  .project-desc {
    width: 80%;
    text-align: center;
    margin: 0em;
  }

  .project-image-parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-image {
    width: 80%;
    margin: 1em 0em 2em 0em;
  }

  .skill-wrapper {
    justify-content: center;
    margin: 1em 0em 2.5em 0em;
  }

  .projects-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 620px) {
  .project-desc {
    width: 80%;
  }

  .projects-btn > btn {
    width: 100%;
  }

  .projects-btn > .btn-color {
    margin-right: 1em;
  }
}

@media screen and (max-width: 499px) {
  .project-desc {
    width: 100%;
  }

  .projects-btn > .btn {
    width: 100%;
    margin-right: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* skills */

.project-skill-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 4em 6.5em 4em;
  justify-content: space-around;
}

.project-skill-container {
  padding: 0em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 1em;
}

.line {
  width: 2px;
  height: 500px;
  background-color: #fff;
}

.project-skill-icon > i {
  font-size: 4rem;
  margin-bottom: 0.3em;
}

.project-skill-header > h2 {
  font-size: 2rem;
  margin-bottom: 0.3em;
}

.project-skills > p {
  margin: 0.7em 0em;
  letter-spacing: 1.2px;
}

.redirect-to-blog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redirect-to-blog a {
  color: #333;
  border: 2px solid #333;
  background: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: bolder;
  transform: all 0.2s ease-in;
}

.redirect-to-blog a:hover {
  background-color: #333;
  color: #fff;
}

/* main {
  display: none;
}

.navbar {
  background-color: #2563eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3.5rem;
  margin-bottom: 3rem;
  box-shadow: 0px 3px 6px 4px rgba(48, 8, 226, 0.2);
  color: #f3f4f6;
  border-bottom-left-radius: 20px;
}

ul li a {
  position: relative;
  transition: all 1s;
  color: #f3f4f6;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0px 15px;
  cursor: pointer;
  font-size: 1.2rem;
}

ul li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 3px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}
ul li a:hover::after {
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.hero-image {
  max-width: 50%;
  display: block;
  margin: auto;
}

.description h2 {
  margin: 2rem;
  letter-spacing: 2px;
  font-size: 2.3rem;
  color: #6b7280;
}
.description span {
  color: #2563eb;
  font-style: italic;
}

.typing {
  position: relative;
  margin-left: 10px;
}

.typing::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  top: 0;
  right: -2px;
  transform: skew(-15deg);
  background-color: rgb(66, 62, 62);
  animation: blink 0.5s ease infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subcontainer {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  text-align: start;
}

.blue {
  background-color: #e5e7eb;
  color: #374151;
}

.subcontainer div {
  padding: 0.5rem;
}

a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

button {
  padding: 0.6rem;
  margin: 13px 0;
  border: none;
  border-radius: 5px;
  background-color: #2563eb;
  font-size: 1rem;
  cursor: pointer;
  color: #f3f4f6;
}

.transparen-btn {
  background-color: white;
  color: #2563eb;
  border: 2px solid #2563eb;
}

.transparen-btn > a {
  color: #2563eb;
}
.transparen-btn > a:visited {
  color: #2563eb;
}
.transparen-btn > a:hover {
  color: #2563eb;
}
.transparen-btn > a:active {
  color: #2563eb;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  background-color: #2563eb;
  box-shadow: 0px 3px 6px 4px rgba(48, 8, 226, 0.2);
  color: #f3f4f6;
  border-top-right-radius: 20px;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

footer > p {
  font-size: 1rem;
}

.title {
  text-align: center;
  margin: 5rem;
  letter-spacing: 2px;
  color: #9ca3af;
}

.title > h1 > span {
  color: #2563eb;
  font-style: italic;
}

.projectSection {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
  justify-content: space-between;
  height: 40vh;
  margin-bottom: 50px;
}

.projectSection > div > div {
  margin: 5px 0;
}

.btn {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.blank {
  background: none;
  border: 1px solid #2563eb;
  color: #2563eb;
}

.title span {
  color: #2563eb;
  font-style: italic;
}

.blog {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
  justify-content: space-between;
  height: 40vh;
  margin-bottom: 50px;
}

.blog > button {
  width: 120px;
}

@media screen and (max-width: 550px) {
  .navbar {
    flex-direction: column;
  }

  .projectSection {
    font-size: 0.82rem;
    padding: 11%;
  }

  button {
    width: 120px;
    height: 40px;
  }

  .blogs {
    padding: 15%;
  }

  #blog {
    font-size: 0.7rem;
  }
} */
